
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handwritten Text Translator</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg">

<section class="landing">
    <div class="landing-box">
        <h1>Ready to convert your handwritten/Printed image to text?</h1>
        <p>
            Upload your handwritten notes, translate them instantly,
            and listen to the output in multiple languages.
        </p>

        <a href="/translate" class="continue-btn">Continue</a>
    </div>
</section>

</body>
</html>